/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 1px solid #000;
  font-family: 'Noto Sans TC', sans-serif !important;
}

header {
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.container {
  width: calc(100% - 280px);
  height: auto;
  padding: 0 140px;
}

@media (max-width: 1000px) {
  .container {
    width: calc(100% - 40px);
    padding: 0 20px;
    height: auto;
  }
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  margin-bottom: 188px;
}

@media (max-width: 1000px) {
  nav {
    padding: 0;
    margin-bottom: 40px;
  }
}

.banner h1 {
  font-size: 18px;
  color: #56C4C5;
  margin-bottom: 8px;
}

.banner p {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  margin-bottom: 16px;
}

@media (max-width: 4000px) {
  .banner p {
    font-size: 32px;
    padding: 0;
    line-height: 48px;
    margin-bottom: 0;
  }
}

.banner h2 {
  font-size: 20px;
}

@media (max-width: 375px) {
  .banner h2 {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }
}

.a-logo {
  display: block;
}

.a-logo img {
  display: block;
  width: 218px;
  height: 40px;
}

@media (max-width: 375), screen {
  .a-logo img {
    width: 130px;
    height: 24px;
  }
}

.item-btn {
  display: block;
  width: 128px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #FF5D50;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  font-weight: regular;
}

@media (max-width: 375) {
  .item-btn {
    width: 128px;
    height: 40px;
    line-height: 24px;
  }
}

.header-bg-img {
  width: 532px;
  height: 534px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 118px;
  right: 140px;
  z-index: -1;
}

@media (max-width: 375px) {
  .header-bg-img {
    width: 340px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 300px;
    left: 0;
    z-index: -1;
  }
}

.header-bg-img2 {
  width: 850px;
  height: 100vh;
  background-image: url("../img/bg_home.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

@media (max-width: 375px) {
  .header-bg-img2 {
    width: 334px;
    height: 245px;
    background-image: url("../img/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 400px;
    right: 20px;
    z-index: -2;
  }
}

.header-bg-ball {
  background-image: url("../img/ball01.svg");
  background-repeat: no-repeat;
  background-position: right;
  bottom: -180px;
  left: 0;
  width: 138px;
  height: 360px;
  position: absolute;
  z-index: -1;
}

@media (max-width: 375px) {
  .header-bg-ball {
    width: 49px;
    height: 126px;
    background-image: url("../img/ball01.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 126px 126px;
    position: absolute;
    top: 750px;
    z-index: -1;
  }
}

.st-social {
  padding-top: 100px;
  margin-bottom: 100px;
}

.st-social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.st-social .st_slogan {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
  color: #221E1F;
  line-height: 48px;
}

.st-social h3 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 24px;
  color: #221E1F;
  line-height: 36px;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 400px) {
  .social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .social-box {
    margin-bottom: 32px;
  }
}

.social-box img {
  margin: 0 auto 24px;
  display: block;
  width: 90px;
  height: auto;
}

.social-box p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #747474;
  font-weight: Regular;
}

.st-target {
  position: relative;
}

.st-target .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.st-target .st_slogan {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: #221E1F;
  line-height: 48px;
}

.st-target h3 {
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: Regular;
  margin-bottom: 48px;
  color: #221E1F;
  line-height: 30px;
}

.st-target .target-bg-ball {
  width: 210px;
  height: 320px;
  background-image: url("../img/ball02.svg");
  background-position: left 0;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -100px;
  right: 0px;
  z-index: -1;
}

@media (max-width: 375px) {
  .st-target .target-bg-ball {
    width: 88px;
    height: 135px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 196px 135px;
    position: absolute;
    bottom: -100px;
    right: 0px;
    z-index: -1;
  }
}

.ta-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  gap: 8px;
}

@media (max-width: 400px) {
  .ta-box {
    margin-bottom: 24px;
  }
}

.ta-box .ta-box-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.ta-box .ta-card {
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  background-color: #FFFFFF;
}

.ta-box img {
  border-radius: 12px 12px 0 0;
  width: 260px;
  height: auto;
  display: block;
}

.ta-box .ta-word {
  text-align: center;
  padding: 0 16px 24px;
}

.ta-box p {
  height: 24px;
  color: #221E1F;
  line-height: 24px;
}

.ta-box .ta-box-title {
  line-height: 24px;
  color: #56C4C5;
  margin: 16px auto;
}

.st-feature {
  max-width: 100%;
  position: relative;
}

.st-feature .container {
  max-width: 1366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 400px) {
  .st-feature .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.st-feature .feature {
  width: 50%;
}

.st-feature .feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px;
}

.st-feature ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
}

.st-feature .feature-card {
  max-width: calc(230px - 64px);
  height: calc(50% - 32px);
  -webkit-box-shadow: 0px 2px 10px #0000001b;
          box-shadow: 0px 2px 10px #0000001b;
  border-radius: 12px;
  opacity: 1;
  padding: 32px;
}

@media (max-width: 400px) {
  .st-feature .feature-card {
    width: calc(230px - 16px);
    padding: 16px;
  }
}

.st-feature .feature-card h3 {
  font-size: 18px;
  font-weight: bold;
  color: #221E1F;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  line-height: 27px;
}

.st-feature .feature-card p {
  font-size: 16px;
  line-height: 24px;
  color: #221E1F;
}

.st-feature .img-box {
  width: 86px;
  height: 86px;
  border-radius: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 10px #0000001d;
          box-shadow: 0px 2px 10px #0000001d;
  margin-bottom: 24px;
}

.st-feature .img-box .img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  .st-feature .feature-describe {
    text-align: center;
    margin-bottom: 32px;
  }
}

.st-feature .feature-describe h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 16px;
}

.st-feature .feature-describe p {
  font-size: 18px;
  line-height: 27px;
  font-weight: Regular;
  color: #221E1F;
}

.st-feature .feature-describe a {
  display: inline-block;
  margin-top: 24px;
  padding: 12px 32px;
  border-radius: 24px;
  background-color: #56C4C5;
  font-size: 18px;
  font-weight: Regular;
  color: #FFFFFF;
  text-decoration: none;
}

.st-appraise {
  max-width: 100%;
  position: relative;
}

.st-appraise .st-ball {
  width: 150px;
  height: 150px;
  background-image: url("../img/ball03.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 90px;
}

@media (max-width: 375px) {
  .st-appraise .st-ball {
    width: 75px;
    height: 150px;
    background-size: 150px 150px;
    background-position: right;
    top: 30px;
    left: 0px;
  }
}

.st-appraise .container {
  margin-top: 100px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.st-appraise h2 {
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 104px;
  text-align: center;
}

.st-appraise .appraise-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.st-appraise .appraise-card {
  width: 350px;
  height: 248px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
}

@media (max-width: 375px) {
  .st-appraise .appraise-card {
    display: none;
  }
}

@media (max-width: 375px) {
  .st-appraise .appraise-first {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 64px;
  }
}

.st-appraise .user-photo {
  position: absolute;
  top: -50px;
  left: 30px;
}

.st-appraise .user-photo img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.st-appraise .appraise {
  padding: 32px;
}

.st-appraise .appraise p {
  width: 100%;
  height: auto;
  margin-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-bottom: #000;
  line-height: 24px;
}

.st-appraise .appraise h4 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.st-appraise .appraise .bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.st-appraise .appraise h5 {
  font-size: 16px;
  color: #221E1F;
}

.st-appraise .appraise img {
  width: 16px;
  height: 16px;
}

.st-appraise .change-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 100%;
  padding: 10px;
}

.st-appraise .change-btn button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 6px;
  background-color: #dddddd;
}

.st-appraise .change-btn button:nth-child(4) {
  width: 20px;
  background-color: #FFD153;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
  background: url("../img/home_footer.svg") no-repeat;
  background-size: contain;
}

@media (max-width: 375px) {
  footer {
    margin-top: 24px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
  }
}

footer .container {
  max-width: 100%;
  padding-top: 260px;
}

@media (max-width: 375px) {
  footer .container {
    padding-top: 200px;
  }
}

footer h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

footer a {
  width: 136px;
  height: 49px;
  border-radius: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #56C4C5;
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  margin-bottom: 100px;
  border: none;
}

@media (max-width: 375px) {
  footer a {
    margin-bottom: 0px;
  }
}

.copyright {
  width: 100%;
  height: auto;
  padding: 16px 0px;
  text-align: center;
  background: #F5F5F5;
}
/*# sourceMappingURL=all.css.map */