* {
  // outline: 1px solid #000;
  font-family: "Noto Sans TC", sans-serif !important;
}
header {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.container {
  width: calc(100% - 280px);
  height: auto;
  padding: 0 140px;
  
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $f24 0;
  margin-bottom: 188px;
}
.banner {
  h1 {
    font-size: $f18;
    color: $fc-blue;
    margin-bottom: $f16 / 2;
  }
  p {
    font-size: $f16 * 3;
    font-weight: bold;
    line-height: $f16 * 4;
    margin-bottom: $f16;
  }
  h2 {
    font-size: $f20;
  }
}
.a-logo {
  display: block;
  img {
    display: block;
    width: 218px;
    height: 40px;
  }
}
.item-btn {
  display: block;
  width: 128px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: $btn-red;
  text-decoration: none;
  color: $white;
  text-align: center;
  line-height: 40px;
  font-weight: regular;
}

.header-bg-img {
  width: 532px;
  height: 534px;
  background-image: url("../img/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 118px;
  right: 140px;
  z-index: -1;
}
.header-bg-img2 {
  width: 850px;
  height: 100vh;
  background-image: url("../img/bg_home.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.header-bg-ball {
  background-image: url("../img/ball01.svg");
  background-repeat: no-repeat;
  background-position: right;
  bottom: -180px;
  left: 0;
  width: 138px;
  height: 360px;
  position: absolute;
  z-index: -1px;
}
.st-social {
  padding-top: 100px;
  margin-bottom: 100px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .st_slogan {
    width: 100%;
    font-size: $f16 * 2;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
    color: $fc-black;
    line-height: $f16 * 3;
  }
  h3{
    font-size: $f24;
    text-align: center;
    font-weight: bold;
    margin-bottom: 24px;
    color: $fc-black;
    line-height: $f24 * 1.5;
  }
}
.social{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-box {
  img {
    margin: 0 auto 24px;
    display: block;
    width: 90px;
    height: auto;
  }

  p {
    font-size: $f16;
    text-align: center;
    line-height: $f24;
    color: $fc-gray;
    font-weight: Regular;
  }
}
.st-target{
  position: relative;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .st_slogan {
    width: 100%;
    font-size: $f16 * 2;
    font-weight: bold;
    text-align: center;
    margin-bottom: $f16;
    color: $fc-black;
    line-height:$f16 * 3;
  }
  h3{
    width: 100%;
    font-size: $f20;
    text-align: center;
    font-weight: Regular;
    margin-bottom: $f24 * 2 ;
    color: $fc-black;
    line-height: $f20 * 1.5;
  }
  .target-bg-ball{
    width: 210px;
    height: 310px;
    background-image: url("../img/ball02.svg");
    background-repeat: no-repeat;
    position: absolute;
    bottom: -100px;
    right: 0px;
    z-index: -1;
  }
}

.ta-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $f16 / 2;
  flex-wrap: wrap;
  margin-bottom: 100px;
  
  .ta-card{
    border-radius: 12px  ;
    box-shadow:0px 2px 10px $shadow;
    background-color: $white;
  }
  img{
    border-radius: 12px 12px 0 0 ;
    width: 260px;
    height: auto;
    display: block;
    
  }
  .ta-word{
    text-align: center;
    padding: 0 $f16 $f24 ;
  }
  p{
    height: 24px;
    color:$fc-black; ;
    line-height: $f24;
  }
  .ta-box-title{
    line-height: $f24;
    color: $fc-blue;
    margin:$f16 auto ;
  }

}