$fs-base:16px;
$aside-border:0.2px solid #bdbdbd;
$white:#FFFFFF;
$fc-blue:#56C4C5;
$fc-black:#221E1F;
$fc-gray:#747474;
$border:#00000029;
$shadow:#00000014;
$star-color:#F5CA52;
$line-color:#DDDDDD;
$carousel-select:#FFD153;
$copyright:#F5F5F5;
$btn-red:#FF5D50;
$logo:#2E2E2E;
$f16:16px;
$f18:$f16 * 1.125;
$f20:$f16 * 1.25;
$f24:$f16 * 1.5;